:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --violetred: #c71585;
  --red: #d9534f;
  --green: #5cb85c;
  --dark-green: #438643;

  --theme-primary: #027bee;
  --theme-primary-light: #65a9ff;
  --theme-primary-dark: #0050bb;
  --theme-secondary: #546e7a;
  --theme-secondary-light: #819ca9;
  --theme-secondary-dark: #394243;
  --theme-error: #d9534f;
  --theme-text-primary: #252525;
  --theme-text-secondary: #f0f0f0;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--theme-text-primary);
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.bg-theme-primary {
  background-color: var(--theme-primary);
}

.bg-theme-primary-light {
  background-color: var(--theme-primary-light);
}

.bg-theme-primary-dark {
  background-color: var(--theme-primary-dark);
}

.bg-theme-secondary {
  background-color: var(--theme-secondary);
}

.bg-theme-secondary-light {
  background-color: var(--theme-secondary-light);
}

.bg-theme-secondary-dark {
  background-color: var(--theme-secondary-dark);
}

.bg-theme-error {
  background-color: var(--theme-error);
}

.theme-primary {
  color: var(--theme-primary);
}

.theme-primary-light {
  color: var(--theme-primary-light);
}

.theme-primary-dark {
  color: var(--theme-primary-dark);
}

.theme-secondary {
  color: var(--theme-secondary);
}

.theme-secondary-light {
  color: var(--theme-secondary-light);
}

.theme-secondary-dark {
  color: var(--theme-secondary-dark);
}

.theme-text-primary {
  color: var(--theme-text-primary);
}

.theme-text-secondary {
  color: var(--theme-text-secondary);
}

.theme-error {
  background-color: var(--theme-error);
}

.font-bangers {
  font-family: 'Bangers', cursive;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.leader-icon {
  color: orange;
}

.brand-text {
  font-family: 'Bangers', cursive;
  font-size: 1.4rem;
}

.brand-icon {
  font-size: 1.4rem;
  color: var(--theme-primary-light);
}

.brand-icon:hover {
  color: var(--theme-primary);
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.chat-window {
  background-color: #efefef3a;
}

.chat-messages {
  height: 180px;
  max-height: 180px;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
}

.chat-input {
  line-height: 1.5;
  width: 90%;
  border-radius: 0;
}

.chat-submit {
  width: 10%;
  border-radius: 0;
  text-align: center;
}

.chat-message {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding: 0.5rem 1rem;
}

.chat-username {
  font-weight: bold;
}

.chat-messages > li:nth-child(odd) {
  background-color: var(--white);
}

.received {
  flex-direction: row-reverse;
}

.server-msg {
  color: #16a516;
}

.sent .chat-username {
  color: var(--theme-primary);
}

.received .chat-username {
  color: var(--theme-secondary);
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.box-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game .grid {
  margin: 2vmin;
  display: grid;
  border-radius: 3px;
  background-color: var(--theme-primary-light);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.grid .square {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.ship-square {
  background-color: var(--theme-secondary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.water-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hit {
  width: 45%;
  height: 45%;
  background-color: red;
  border-radius: 100%;
}

.miss {
  width: 45%;
  height: 45%;
  background-color: white;
  border-radius: 100%;
}

.setup-btn-bar {
  display: flex;
  justify-content: center;
}

.setup-btn {
  width: 16vmin;
}

.ship-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* The ship related CSS was mostly adapted from this link: 
  https://www.youtube.com/watch?v=G6JTM-zt-dQ 
*/
.ship {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  background-color: var(--theme-secondary-light);
  border-radius: 2.3vmin;
}

.ship.selected::before {
  content: '';
  animation: ripples 1.5s linear infinite;
  position: absolute;
  border: 0.3vmin solid var(--theme-primary-light);
  border-radius: 2.5vmin;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.ship.selected {
  background-color: var(--theme-primary);
}

.ship.selected:hover {
  background-color: var(--theme-primary-dark);
}

.ship.placed {
  background-color: var(--green);
}

.ship.placed:hover {
  background-color: var(--dark-green);
}

.ship:hover {
  background-color: var(--theme-secondary);
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.destroyer {
  --width: 2;
}

.submarine,
.cruiser {
  --width: 3;
}

.battleship {
  --width: 4;
}

.carrier {
  --width: 5;
}

.destroyer.vertical {
  --width: 1;
  --height: 2;
}

.submarine.vertical,
.cruiser.vertical {
  --width: 1;
  --height: 3;
}

.battleship.vertical {
  --width: 1;
  --height: 4;
}

.carrier.vertical {
  --width: 1;
  --height: 5;
}

.status-msg {
  transition: opacity 750ms ease-in-out;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

@keyframes ripples {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.2);
  }
}


/**********************************************
  About page for card layout
**********************************************/

/* background image*/
.jumbotron.battleship-image
{
  background-image: '../docs/images/cosmetic-images/battleship.jpg';
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* If screen is small, make cards go from collumns to rows */
@media screen and (max-width: 414px) {
  .cards {
    display: flex;
    flex-direction: column;
    
    .card {
      margin-bottom: $card-deck-margin;
    }

    .tabs{
      margin-bottom: 1.25rem
    }
  
    @include media-breakpoint-up(sm) 
    {
      flex-flow: row wrap;
      margin-right: -$card-deck-margin;
      margin-left: -$card-deck-margin;
      
      .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: $card-deck-margin;
        margin-bottom: 0; 
        margin-left: $card-deck-margin;
      }
    }
  }
}

/* if screen is big, make */
@media screen and (min-width: 1024px){
  .card-deck{
    display: flex;
    flex-direction: center;
  }
  .card{
    width: 25em;
  }
}
  

/**********************************************
  About page css for social media icons
**********************************************/

/* Style icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/*social media button*/
#contacts .button{
  border-radius: 12px;
}

/* Add a hover effect*/
.fa:hover {
  opacity: 0.7;
}