:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --violetred: #c71585;
  --red: #ff0000;
  --green: #006400;

  --theme-primary: #027bee;
  --theme-primary-light: #65a9ff;
  --theme-primary-dark: #0050bb;
  --theme-secondary: #546e7a;
  --theme-secondary-light: #819ca9;
  --theme-secondary-dark: #394243;
  --theme-error: #b00020;
  --theme-text-primary: #252525;
  --theme-text-secondary: #f0f0f0;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--theme-text-primary);
}

.bg-theme-primary {
  background-color: var(--theme-primary);
}

.bg-theme-primary-light {
  background-color: var(--theme-primary-light);
}

.bg-theme-primary-dark {
  background-color: var(--theme-primary-dark);
}

.bg-theme-secondary {
  background-color: var(--theme-secondary);
}

.bg-theme-secondary-light {
  background-color: var(--theme-secondary-light);
}

.bg-theme-secondary-dark {
  background-color: var(--theme-secondary-dark);
}

.bg-theme-error {
  background-color: var(--theme-error);
}

.theme-primary {
  color: var(--theme-primary);
}

.theme-primary-light {
  color: var(--theme-primary-light);
}

.theme-primary-dark {
  color: var(--theme-primary-dark);
}

.theme-secondary {
  color: var(--theme-secondary);
}

.theme-secondary-light {
  color: var(--theme-secondary-light);
}

.theme-secondary-dark {
  color: var(--theme-secondary-dark);
}

.theme-text-primary {
  color: var(--theme-text-primary);
}

.theme-text-secondary {
  color: var(--theme-text-secondary);
}

.theme-error {
  background-color: var(--theme-error);
}

.leader-icon {
  color: orange;
}

.brand-icon {
  color: var(--theme-primary-light);
}

.brand-icon:hover {
  color: var(--theme-primary);
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.chat-window {
  background-color: #efefef;
}

.chat-messages {
  height: 180px;
  max-height: 180px;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none;
}

.chat-input {
  line-height: 1.5;
  width: 90%;
  border-radius: 0;
}

.chat-submit {
  width: 10%;
  border-radius: 0;
  text-align: center;
}

.chat-message {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding: 0.5rem 1rem;
}

.chat-username {
  font-weight: bold;
}

.chat-messages > li:nth-child(odd) {
  background-color: var(--white);
}

.received {
  flex-direction: row-reverse;
}

.sent .chat-username {
  color: var(--theme-primary);
}

.received .chat-username {
  color: var(--theme-secondary);
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}
